<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<h1 style="color:blue;text-align:center;"> Welcome to Ruby on Rails </h1>
<p> This is a website hosted for <span style="color:red;">Ruby on Rails</span> </p>
<%= link_to "About", about_path %>
