$navbar-default-bg: #204060;
@import "bootstrap-sprockets";
@import "bootstrap";
#logo
{
  float: left;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover
{
  text-decoration: none;
  color: #fff;
}
#display
{
  color: white;
}
.center
{
  text-align: center;
}
.jumbotron
{
  background-image: url(asset-path('new.jpeg'));
  background-size: cover;
  height: 700px;
}
.jumbotron h1
{
  color: #fff;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: bold;
}
.btn-xlarge
{
  font-size: 30px;
  background-color: #4080bf;
  color: white;
}
footer {
  margin-top: 25px;
  padding-top: 5px;
  color: #777;
  border-top: 1px solid #4080bf;
}
footer:hover
{
  color: #222;
}
footer small{
  float: left;
  }
  footer ul{
    float: right;
    list-style: none;
  }
